name: Build

on:
  push:
    paths:
      - .github/workflows/build.yml
      - build.gradle
      - settings.gradle
      - src/**
      - launcher/build.gradle
      - launcher/src/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.12.0
        with:
          project-path: .github
          enable-cache: true

      - name: Compile with Gradle
        run: devbox run -- ./gradlew :compileJava
